<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <display-name>First</display-name>
    <servlet-name>Find</servlet-name>
    <servlet-class>Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Second</display-name>
    <servlet-name>FindDocument</servlet-name>
    <servlet-class>FindDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDocument</servlet-name>
    <url-pattern>/FindDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Third</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Fourth</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Fifth</display-name>
    <servlet-name>UpdateDocument</servlet-name>
    <servlet-class>UpdateDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDocument</servlet-name>
    <url-pattern>/UpdateDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Sixth</display-name>
    <servlet-name>UpdateVariable</servlet-name>
    <servlet-class>UpdateVariable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVariable</servlet-name>
    <url-pattern>/UpdateVariable</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Seventh</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Eighth</display-name>
    <servlet-name>Confirmation</servlet-name>
    <servlet-class>Confirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Confirmation</servlet-name>
    <url-pattern>/Confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
   <display-name>Ninth</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>MyFirst.html</welcome-file>
  </welcome-file-list>
</web-app>